@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora/Lora-Regular.ttf");
}

@font-face {
    font-family: "Novar";
    src: url("../fonts/Novar/Novar.ttf");
}

body:before, [class~=loader]:after {
    content: "";
}

body:before, [class~=loader], [class~=loader]:after {
    position: fixed;
}

[class~=loader]:after, [class~=loader], body:before {
    top: 0;
}

[class~=loader], body:before, [class~=loader]:after {
    left: 0;
}

*:before, *:after {
    -webkit-box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

* {
    margin-left: 0;
}

* {
    margin-bottom: 0;
}

* {
    margin-right: 0;
}

[class~=loader]:after, body:before {
    right: 0;
}

::selection {
    background: transparent;
}

[class~=loader], body:before, [class~=loader]:after {
    bottom: 0;
}

::selection {
    color: #ededed;
}

img {
    -moz-user-select: none;
}

[class~=loader]:after, body:before, [class~=loader] {
    width: 100%;
}

img {
    -webkit-user-select: none;
}

img {
    -ms-user-select: none;
}

* {
    margin-top: 0;
}

img {
    user-select: none;
}

* {
    padding-left: 0;
}

img {
    -webkit-user-drag: none;
}

* {
    padding-bottom: 0;
}

html {
    -webkit-box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

[class~=loader]:after, [class~=loader], body:before {
    height: 100%;
}

body, [class~=loader] {
    background: #020202;
}

body:before {
    background: url("../img/noisebackground.png");
}

body:before {
    background-repeat: repeat;
}

* {
    padding-right: 0;
}

[class~=loader]:after, body:before {
    opacity: .15;
}

* {
    padding-top: 0;
}

body {
    color: #adadad;
}

body {
    font-family: "Lora", sans-serif;
}

body {
    text-shadow: 0pt 0pc .25pc #000;
}

body {
    overflow-x: hidden;
}

* {
    outline: 0;
}

* {
    box-shadow: none;
}

::-moz-selection {
    background: transparent;
}

::-moz-selection {
    color: #ededed;
}

body:before, [class~=loader]:after {
    pointer-events: none;
}

[class~=loader] {
    z-index: 5;
}

body:before {
    animation: grain 1s infinite;
}

@keyframes grain {
    0%, 100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0% 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}

h6, h1, h5, h4, h2, h3 {
    font-family: "Novar";
}

h5, h3, h2, h6, h4, h1 {
    font-weight: 500;
}

h1, h6, h4, h3, h5, h2 {
    margin-left: 0;
}

h3, h6, h1, h2, h5, h4 {
    margin-bottom: .15625in;
}

h5, h6, h4, h2, h3, h1 {
    margin-right: 0;
}

h5, h2, h1, h4, h6, h3 {
    margin-top: 0px;
}

h5, h2, h4, h1, h6, h3 {
    letter-spacing: .75pt;
}

li {
    list-style: none;
}

a {
    color: #adadad;
}

a {
    text-decoration: none;
}

a {
    position: relative;
}

a {
    overflow: hidden;
}

a {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    [class~=hidden-xs] {
        display: block;
    }
    [class~=hidden-md] {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    [class~=hidden-xs] {
        display: none;
    }
    [class~=hidden-md] {
        display: block;
    }
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:hover:after, [class~=header] {
    width: 100%;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:hover {
    cursor: pointer;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a {
    color: rgba(255, 255, 255, .8);
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    content: "";
}

[class~=header], [class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    position: absolute;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    left: 50%;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    bottom: .041666667in;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    width: 0px;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    height: .75pt;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:nth-child(2) {
    display: none;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a {
    font-size: 8px;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    background: rgba(255, 255, 255, .5);
}

[class~=header] [class~=logo-header] {
    position: relative;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:hover:after {
    left: 0;
}

[class~=header] {
    height: 71.25pt;
}

[class~=header] [class~=logo-header] {
    top: .4375pc;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    -webkit-transition: .2s ease-in-out;
}

[class~=header] [class~=box-menu] [class~=social-menu] li {
    display: inline-block;
}

[class~=header] [class~=logo-header] {
    left: 18pt;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    -moz-transition: .2s ease-in-out;
}

[class~=header] {
    line-height: 5.9375pc;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a {
    padding-left: 3.3px;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    -o-transition: .2s ease-in-out;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a {
    letter-spacing: .041666667in;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a {
    font-family: sans-serif;
}

.header .box-menu .social-menu {
    margin-top: -2.25pt;
}

[class~=header] {
    top: 0;
}

[class~=header] {
    z-index: 2;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    -ms-transition: .2s ease-in-out;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    transition: .2s ease-in-out;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    right: 0;
}

[class~=header] [class~=box-menu] [class~=social-menu] li {
    padding-left: 17px;
}

[class~=header] [class~=box-menu] [class~=social-menu] li a:after {
    left: auto;
}

[class~=header] [class~=box-menu] [class~=social-menu] li {
    padding-bottom: 0;
}

[class~=header] [class~=box-menu] [class~=social-menu] li {
    padding-right: 17px;
}

[class~=header] [class~=box-menu] [class~=social-menu] li {
    padding-top: 0;
}

.header .box-menu .social-menu {
    padding-right: .3125in;
}

@media screen and (max-width: 776px) {
    .header .box-menu .social-menu li a:nth-child(1) {
        display: none;
    }
    .header .box-menu .social-menu li a:nth-child(2) {
        display: block;
    }
    [class~=header] [class~=box-menu] [class~=social-menu] li a:nth-child(2):after {
        bottom: 47px;
    }
}

@media screen and (max-width: 776px) {
    .header .box-menu .social-menu li {
        padding-left: .052083333in;
    }
    .header .box-menu .social-menu li {
        padding-bottom: 0;
    }
    .header .box-menu .social-menu li {
        padding-right: .052083333in;
    }
    .header .box-menu .social-menu li {
        padding-top: 0;
    }
}

[class~=title], [class~=title] [class~=box] [class~=box-left-content] {
    position: relative;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] {
    font-size: 3.8vw;
}

[class~=title] [class~=box] [class~=box-left-content] {
    top: 50%;
}

[class~=title] [class~=box] [class~=box-left-content] {
    left: 50%;
}

[class~=title] [class~=box] [class~=box-left-content] {
    -webkit-transform: translate(-50%, -50%);
}

.title .box .box-left-content .muted, [class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] span {
    display: block;
}

[class~=title] [class~=box] [class~=box-left-content] {
    -moz-transform: translate(-50%, -50%);
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] {
    text-transform: uppercase;
}

[class~=title] [class~=box] [class~=box-left-content] {
    -o-transform: translate(-50%, -50%);
}

[class~=title] [class~=box] [class~=box-left-content] {
    transform: translate(-50%, -50%);
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] {
    letter-spacing: 4.5pt;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    content: "";
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] {
    line-height: 36pt;
}

[class~=title] [class~=box] {
    padding-left: .729166667in;
}

.title .box .box-left-content .muted {
    font-size: .104166667in;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    display: inline-block;
}

[class~=title] [class~=box] [class~=box-left-content] {
    overflow: hidden;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    background: #8f8f8f;
}

.title .box .box-left-content .muted {
    letter-spacing: .3125pc;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    width: 9px;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    height: 1px;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    margin-right: 8px;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    vertical-align: middle;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=muted]:before {
    animation: rotation 1.3s both ease-out;
}

.title .box .box-left-content .muted {
    color: #8f8f8f;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] span:first-child {
    float: left;
}

.title .box .box-left-content .muted {
    padding-bottom: 11.25pt;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] span:first-child {
    line-height: 40px;
}

[class~=title] [class~=box] {
    padding-bottom: 0;
}

[class~=title] [class~=box] {
    padding-right: .729166667in;
}

[class~=title] [class~=box] {
    padding-top: 0;
}

[class~=title] [class~=box] [class~=box-left-content] [class~=heading--large] span:last-child {
    float: right;
    line-height: 70px
}

@keyframes rotation {
    0% {
        transform: translateX(-40px) rotate(55deg);
        opacity: 0;
    }
    30% {
        transform: translateX(-20px) rotate(55deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0px) rotate(223deg);
        opacity: 1;
    }
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] {
    text-align: center;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    opacity: .2;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content], .title .box .box-center .box-center-content .circle-path {
    position: absolute;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    -webkit-animation: circleTurnDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    -moz-animation: circleTurnDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    -o-animation: circleTurnDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] {
    top: 50%;
}

.title .box .box-center .box-center-content .circle-path, [class~=title] [class~=box] [class~=box-center] [class~=box-center-content] {
    left: 50%;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] {
    transform: translate(-50%, -50%);
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    animation: circleTurnDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] [class~=circle-path] svg {
    z-index: -1;
}

.title .box .box-center .box-center-content .circle-path {
    top: 13%;
}

[class~=title] [class~=box] [class~=box-center] {
    position: relative;
}

@keyframes circleTurnDown {
    0%, 100% {
        transform: translate(-50%, -2px);
    }
    50% {
        transform: translate(-50%, 2px);
    }
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] img {
    -webkit-animation: animatedUpDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] img {
    -moz-animation: animatedUpDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] img {
    -o-animation: animatedUpDown 9s infinite ease-in-out;
}

[class~=title] [class~=box] [class~=box-center] [class~=box-center-content] img {
    animation: animatedUpDown 9s infinite ease-in-out;
}

@keyframes animatedUpDown {
    0%, 100% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-2px);
    }
}

[class~=footer] [class~=footer-box-right], .title .box .box-right .box-right-content, [class~=footer] [class~=footer-box-left], .title .box .box-right {
    position: relative;
}

.title .box .box-right .box-right-content .contact-info li span a {
    -webkit-transition: .2s ease-in-out;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    content: "";
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar], .footer, .footer .footer-box-right .sound-bars, [class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before, [class~=footer] [class~=footer-box-left] span {
    position: absolute;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before, .title .box .box-right .box-right-content {
    left: 50%;
}

[class~=footer] [class~=footer-box-left] span {
    left: 24px;
}

[class~=footer] [class~=footer-box-left] {
    text-align: left;
}

[class~=footer] [class~=footer-box-left] span {
    bottom: 1.6875pc;
}

.title .box .box-right .box-right-content {
    top: 50%;
}

[class~=footer] [class~=footer-box-left] span {
    font-family: sans-serif;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li {
    padding-left: 0;
}

.title .box .box-right .box-right-content {
    transform: translate(-50%, -50%);
}

.title .box .box-right .box-right-content {
    padding-top: 2.3125pc;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    bottom: 4.5pt;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    width: 0pt;
}

.title .box .box-right .box-right-content h2 {
    font-size: .197916667in;
}

[class~=footer] [class~=footer-box-right] {
    text-align: right;
}

.footer .footer-box-right .sound-bars {
    bottom: .3125in;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span {
    font-size: .135416667in;
}

[class~=footer] [class~=footer-box-left] span {
    font-size: 10px;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    height: .75pt;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    background: rgba(255, 255, 255, .7);
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before, .footer .footer-box-right .sound-bars, .footer {
    right: 0;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    -webkit-transition: .3s ease-in-out;
}

.footer, [class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    bottom: 0;
}

[class~=footer] [class~=footer-box-left] span, [class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span {
    letter-spacing: .03125pc;
}

.footer, [class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar], .title .box .box-right .box-right-content .contact-info li span a:hover::before {
    left: 0;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    float: right;
}

[class~=footer] [class~=footer-box-left] span {
    opacity: .5;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    background: #666;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    height: 5px;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    -moz-transition: .3s ease-in-out;
}

[class~=footer] [class~=footer-box-left] span {
    line-height: .15625in;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    width: 1.5pt;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    -o-transition: .3s ease-in-out;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar] {
    animation: none;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li {
    padding-bottom: .3125pc;
}

.title .box .box-right .box-right-content h2, [class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span {
    opacity: .7;
}

[class~=footer] [class~=footer-box-right] {
    padding-left: 0in;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    -ms-transition: .3s ease-in-out;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    transition: .3s ease-in-out;
}

[class~=footer] [class~=footer-box-right] {
    padding-bottom: 0pc;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] [class~=bar-active] {
    animation: sound 0ms -800ms linear infinite alternate;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a::before {
    left: auto;
}

.title .box .box-right .box-right-content .contact-info li span a {
    -moz-transition: .2s ease-in-out;
}

.footer .footer-box-right .sound-bars {
    width: 14px;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li {
    padding-right: 0;
}

.title .box .box-right .box-right-content .contact-info li span a {
    -o-transition: .2s ease-in-out;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li {
    padding-top: .3125pc;
}

.title .box .box-right .box-right-content .contact-info li span a {
    -ms-transition: .2s ease-in-out;
}

.title .box .box-right .box-right-content .contact-info li span a {
    transition: .2s ease-in-out;
}

.footer .footer-box-right .sound-bars {
    height: 9pt;
}

[class~=footer] [class~=footer-box-right] {
    padding-right: .3125in;
}

[class~=title] [class~=box] [class~=box-right] [class~=box-right-content] [class~=contact-info] li span a:hover, .footer .footer-box-right .sound-bars {
    cursor: pointer;
}

[class~=footer] [class~=footer-box-right] {
    padding-top: 22px;
}

.title .box .box-right .box-right-content .contact-info li span a:hover::before {
    width: 100%;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 12px;
    }
}

.footer .footer-box-right .sound-bars #bar-1 {
    left: 2px;
}

.footer .footer-box-right .sound-bars #bar-1 {
    animation-duration: 474ms;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-2 {
    left: 3.75pt;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-2 {
    animation-duration: 433ms;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-3 {
    left: 8px;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-3 {
    animation-duration: 407ms;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-4 {
    left: .6875pc;
}

[class~=footer] [class~=footer-box-right] [class~=sound-bars] #bar-4 {
    animation-duration: 458ms;
}

@media screen and (min-width: 1250px) {
    [class~=box-left-content] {
        padding-left: .625in;
    }
}

@media screen and (max-width: 1200px) {
    #img {
        height: 4.6875in;
    }
    [class~=circle-path] svg {
        width: 273.75pt;
    }
    [class~=circle-path] svg {
        height: 365px;
    }
}

@media screen and (max-width: 1123px) {
    [class~=circle-path] svg {
        width: 320px;
    }
    [class~=circle-path] svg {
        height: 240pt;
    }
    [class~=headquarters] span {
        font-size: .125in;
    }
    [class~=headquarters] span {
        letter-spacing: .0125pc;
    }
    #img {
        height: 4.166666667in;
    }
}

@media screen and (max-width: 768px) {
    [class~=circle-path] svg {
        width: 2.395833333in;
    }
    .muted {
        text-align: left;
    }
    [class~=circle-path] svg {
        height: 230px;
    }
    .heading--small {
        font-size: 8vw;
    }
    .heading--small {
        text-transform: uppercase;
    }
    .heading--small {
        letter-spacing: .1875pc;
    }
    .heading--small {
        line-height: .260416667in;
    }
    #img {
        height: 3.020833333in;
    }
}

@media screen and (max-width: 600px) {
    [class~=title] {
        margin-left: 0;
    }
    [class~=title] {
        margin-bottom: 1.145833333in;
    }
    [class~=title] {
        margin-right: 0;
    }
    [class~=title] {
        margin-top: 1.145833333in;
    }
    .logo-header, [class~=footer-box-left] span {
        left: .15625in !important;
    }
    .box-left-content {
        padding-left: 2.25pt;
    }
    [class~=title] [class~=box] {
        padding-left: .520833333in;
    }
    .box-left-content, [class~=title] [class~=box] {
        padding-bottom: 0;
    }
    .box-left-content {
        padding-right: 2.25pt;
    }
    [class~=title] [class~=box], .box-left-content {
        padding-top: 0;
    }
    .box-left-content, .box-right-content {
        text-align: center;
    }
    .footer {
        bottom: inherit;
    }
    [class~=title] [class~=box] {
        padding-right: .520833333in;
    }
}